<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
      <% if current_user %>
      <a href="/logout" class="btn btn-info btn-lg">
       <span class="glyphicon glyphicon-log-out"></span> Log out
     </a> 
     <% end %>
   </div>
  </div>
</nav>!-- /.navbar -->
<form class="form-horizontal" method="post" action="/sign_up">
<fieldset>

<!-- Form Name -->
<legend>New User Signup</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="fname">First Name</label>  
  <div class="col-md-5">
  <input id="fname" name="first_name" type="text" placeholder="First Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lname">Last Name</label>  
  <div class="col-md-5">
  <input id="lname" name="last_name" type="text" placeholder="Last Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-5">
  <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="addr1">Address Line 1</label>  
  <div class="col-md-5">
  <input id="addr1" name="address" type="text" placeholder="Address Line 1" class="form-control input-md" required="">
    
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">City</label>  
  <div class="col-md-4">
  <input id="city" name="city" type="text" placeholder="City" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="state">Province</label>
  <div class="col-md-4">
    <select id="state" name="province" class="form-control">
      <option value="1">AB</option>
      <option value="2">BC</option>
      <option value="3">MB</option>
      <option value="4">NB</option>
      <option value="5">NFLD</option>
      <option value="6">NS</option>
      <option value="7">NWT</option>
      <option value="8">NVT</option>
      <option value="9">ON</option>
      <option value="10">PEI</option>
      <option value="11">PQ</option>
      <option value="12">SK</option>
      <option value="13">YK</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="zip">Postal Code</label>  
  <div class="col-md-4">
  <input id="zip" name="postal_code" type="text" placeholder="Postal Code" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="paypal">PayPal Email</label>  
  <div class="col-md-5">
  <input id="paypal" name="paypal_email" type="text" placeholder="PayPal Email Address" class="form-control input-md">
  <span class="help-block">If you would like to be paid commissions via PayPal, enter your PayPal email address. Your PayPal account must be verified!</span>  
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwd">Password</label>  
  <div class="col-md-5">
  <input id="passwd" name="password" type="text" placeholder="Password" class="form-control input-md" required="">
  <span class="help-block">You will need your email address and the password you create here, to login to the affiliate area.</span>  
  </div>
</div>


<div class="form-group">
<label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="submit">
      <input class="btn btn-success" type="submit" name="submit" id="submit" value="Create New Account">
    </label>
  </div>
</div>

</fieldset>
</form>
