  <div class="alert alert-danger" role="alert">
    <strong>Congratulations! You have successfully created a new subscription!</strong>
  </div>
  <p>
    <a class="btn btn-primary btn-lg" href="/"> Back to Homepage </a>
  </p>

  