<div class="navbar-wrapper">
 <div class="container">

   <nav class="navbar navbar-inverse navbar-static-top">
     <div class="container">
       
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Worth looking!</a>
       </div>

       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="#">Home</a></li>
           <li><a href="#about">About</a></li>
           <li><a href="#contact">Contact</a></li>
         </ul>
         <div class="pull-right navbar-login">
           <% if current_user %>
               <a href="/logout" class="btn btn-info btn-lg">
                 <span class="glyphicon glyphicon-log-out"></span> Log out
               </a> 
           <% else %>
             <form class="form-inline navbar-form" action="/login" method="post">
               <div class="form-group">
                 <label class="sr-only" for="exampleInputEmail3">Email address</label>
                 <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email">
               </div>
               <div class="form-group">
                 <label class="sr-only" for="exampleInputPassword3">Password</label>
                 <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="password">
                  <button type="submit" id="sign_in" class="btn btn-default">Sign in</button>
               </div>
             </form>

            <!--  <form class="navbar-form navbar-left" role="search">
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Search">
               </div>
               <button type="submit" class="btn btn-default">Submit</button>
             </form> -->
           <% end %>
         </div>
       </div>
     </div>
   </nav>

 </div>
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="http://www.annexpro.com/newsite/wp-content/uploads/2015/11/autodeskpromoscropped.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption">        
          <p><a class="btn btn-lg btn-primary" href="/sign_up" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="http://daviddewolf.com/wp-content/uploads/2014/10/Taking-Joy-in-Anothers-Success-David-DeWolf.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <p>It’s tailored for you!!! Unike most of the other delivery brands out there, it’s a curated box full of sweet goods, it’s a surprise, but each time, you know it’s been selected according to your tastes</p>
          <p><a class="btn btn-lg btn-primary" href="/products" role="button">Subscription Lisitings</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="http://www.collegecareerlife.com/images/success.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <p>Our newly redesigned website also makes the whole experience simpler. Once you’re a member, you have unlimited access to their online shop, it’s closed off if you don’t have an account</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
  <div>
  <!-- <video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
    <source src="http://t3bootstraptv.de/fileadmin/bootstrap/videos/google_glass.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
  </video> -->
</div>
    <div class="col-lg-4">
      <img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYVzzkZ3hfv52nLkQEMoN4QymjSk8iLFXIwM3g_G02Lej6Pq7otRrV49W" alt="Generic placeholder image" width="140" height="140">
      <h2>It’s a Mind Game.</h2>
      <p>To be successful and grow your business and revenues, you must match the way you market your products with the way your prospects learn about and shop for your products.</p>
      <p><a class="btn btn-default" href="#" role="button">Buy &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRKS1k-VEbOKvuE37gQwYhmi8DAyqy31GW2J15VwTxYPoaOWk5q" alt="Generic placeholder image" width="140" height="140">
      <h2>The future’s bright.</h2>
      <p>Ray: Lead software engineer and investment development and research analyst, Stu: CEO and worldwide marine asset financial analyst of Subscribe it!, Stalin: Front-end and Waste management disposal technician, Dil: Back-end and Direct debit and membership and professional development stock and credit administrator</p>
      <p><a class="btn btn-default" href="#" role="button">Subscribe &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyro8ZNkYbN8n6PboA3Y5sJKDyO7tCHGJeTLwtXEtyparWH4JFn8RUAQ" alt="Generic placeholder image" width="140" height="140">
      <h2>Power, Beauty and soul.</h2>
      <p>If your stories are all about your products and services, that’s not storytelling. It’s a brochure. Give yourself permission to make the story bigger</p>
      <p><a class="btn btn-default" href="#" role="button">Sell &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"> Your vision. Our future.<span class="text-muted">See for yourself. </span></h2>
      <p class="lead">Focus on the core problem your business solves and put out lots of content and enthusiasm, and ideas about how to solve that problem.</p>
    </div>
    <div class="border_radius col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://www.womensweb.in/wp-content/uploads/2013/12/shutterstock_289889759-1.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">When you care enough to send the very best.
 <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">If you have more money than brains, you should focus on outbound marketing. If you have more brains than money, you should focus on inbound marketing.</p>
    </div>
    <div class="border_radius col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="http://www.startupguys.net/wp-content/uploads/2016/02/small-business-ideas-for-small-towns-and-villages.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Fueling the Canadian Spirit. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Word-of-mouth marketing has always been important. Today, it’s more important than ever because of the power of the Internet..</p>
    </div>
    <div class="border_radius col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://merkelchamber.org/wp-content/uploads/2014/11/shareasimage-5.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->
